{% extends 'main.htm' %} {% block title %} Workers {% endblock %} {% block content %}


<style>
    a:hover {
        color: rgb(255, 0, 0);
    }
</style>


<div class="container-fluid">
    <h3 class="text-dark mb-4">Workers</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <span class="text-success m-0 font-weight-bold">Worker Info</span>
            <span class="text-primary" style="float: right; margin-right: 10px;"><a href="{% url 'addWorker' %}" style="text-decoration: none;">Add Worker</a></span>
        </div>
        <div class="card-body">
            {% if workers.count == 0 %}
            <div class="row">
                <h1 class="text-dark" style="text-align: center; font-size: 80px">No Worker is employed</h1>
            </div>
            <h6><a href="{% url 'addWorker' %}" class="text-success" style="text-decoration: none; text-transform: uppercase; font-weight: bold;">Add new Worker</a> </h6> {% endif %} {% if workers.count > 0 %}


            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">

                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Salary<b>(GHS)</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worker in workers %}
                        <tr>
                            <td>{{ worker.name }}</td>
                            <td>{{worker.position}}</td>
                            <td>{{worker.salary}}</td>
                            <td><button class="btn btn-primary"><a style="color: white;" href="{% url 'updateWorker' worker.id %}">Update</a></button></td>
                            <td><button class="btn btn-danger"><a onclick="return confirm('Are you sure?')" style="color: white;" href="{% url 'deleteWorker' worker.id %}">Delete</a></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of {{workers.count}}</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}